* {
    margin: 0;
    padding: 0;
    font-family: Geneva, sans-serif;
    text-align: center;
}

body {
    background-color: rgb(61, 62, 62);
}

header {
    color: white
}

main {
    margin-top: 60px;
}

input {
    width: 500px;
    height: 60px;
    border-radius: 50px;
    font-size: 30px;
}

#search-btn {
    font-size: 35px;
    font-size: 30px;
    background-color: #60FCB0;
    border-style: none;
    border-radius: 10px;
    padding: 8px;
}

#search-btn:hover {
    cursor: pointer;
    background-color: #04CD6C;
}

#back-btn {
    display: inline-block;
    margin-left: 30px;
}

.back-button-style {
    font-size: 35px;
    background-color: #75C1E7;
    border-style: none;
    border-radius: 10px;
    padding: 8px;
}

.back-button-style:hover {
    background-color: #4DAFE0;
    cursor: pointer;
}

#no-result {
    color: white;
    margin-top: 30px;
    font-size: 24px;
}

#results-area {
    margin: auto;
    margin-top: 60px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.movieCard {
    padding: 20px;
    text-align: center;
    box-shadow: 4px 4px 15px 5px rgb(32, 32, 32);
    border-radius: 20px;
    color: white;
    transition: 0.6s;
}

.movieCard h2 {
    color: rgb(61, 62, 62);
}

.movieCard:hover {
    background-color: rgb(117, 193, 231);
    cursor: pointer;
}

.movieCard:hover h2 {
    color: rgb(1, 61, 90);

}

.similarCard {
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 5px rgb(32, 32, 32);
    background-color: rgb(40, 71, 53);
    color: white
}